{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="text-center mb-4">Formulaire de contact</h1>

                <!-- Afficher les messages flash -->
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'bg-light p-4 rounded shadow', 'id': 'contactForm'}}) }}
                    <div class="mb-3">
                        {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre email'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.description, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Objet de votre message'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.content, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Votre message'}}) }}
                        {{ form_errors(form.content) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg" value = 'contactForm'>Envoyer</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}